.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 15px;
  border-bottom: 1px solid black;
}

.li {
  display: inline-block;
  width: 120px;
}

.li:hover {
  font-weight: bold;
}
